<nav class="site-nav">
  <a href="{{ "/" | relative_url }}">home</a>
  <span class="nav-sep">/</span>
  <a href="{{ "/research" | relative_url }}">research</a>
  <span class="nav-sep">/</span>
  <a href="https://raw.githubusercontent.com/gfrt0/gfrt0.github.io/master/content/forte_cv.pdf">cv</a>
  <span class="nav-sep">/</span>
  <a href="https://github.com/gfrt0">github</a>
  <span class="nav-sep">/</span>
  <a id="contact-link" href="#">contact</a>
  <script>
    (function(){var a='fortegecon',b='gmail.com',c=document.getElementById('contact-link');c.href='mai'+'lto:'+a+'@'+b;})();
  </script>
</nav>
